In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
sl=pd.read_csv("C:/python_test_cases/Sf_Salaries.csv")
sl

C:\Users\Sandeep\AppData\Local\Temp\ipykernel_5996\3211803576.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sl=pd.read_csv("C:/python_test_cases/Sf_Salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [10]:
sl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [26]:
numeric_columns=['BasePay','OvertimePay','OtherPay','Benefits','TotalPay','TotalPayBenefits']
sl[numeric_columns]=sl[numeric_columns].apply(pd.to_numeric,errors='coerce')
sl.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay             float64
OvertimePay         float64
OtherPay            float64
Benefits            float64
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

In [29]:
avg=sl.BasePay.mean()
print("avarage on Basepay: ",avg)

avarage on Basepay:  66325.44884050643

In [30]:
high_overpay=sl.OvertimePay.max()
print("Highest amount of overpay: ",high_overpay)

Highest amount of overpay:  245131.88

In [41]:
x=sl[sl['EmployeeName']=='JOSEPH DRISCOLL']
jsp_jt=x['JobTitle'].values[0]
print("Job title of Joseph Driscoll: ",jsp_jt)

Job title of Joseph Driscoll:  CAPTAIN, FIRE SUPPRESSION

In [47]:
y=sl[sl['EmployeeName']=='JOSEPH DRISCOLL']
jsp_inc=y['TotalPayBenefits'].values[0]
print("JOSEPH DRISCOLL income Including Benefits: ",jsp_inc)

JOSEPH DRISCOLL income Including Benefits:  270324.91

In [55]:
z=sl.sort_values('TotalPayBenefits').max()
hpp=z['EmployeeName']
print("Highest paid person with benefits: ",hpp)

Highest paid person with benefits:  Zuri Jones

C:\Users\Sandeep\AppData\Local\Temp\ipykernel_5996\3695237602.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  z=sl.sort_values('TotalPayBenefits').max()

In [56]:
z=sl.sort_values('TotalPayBenefits').min()
lpp=z['EmployeeName']
print("Lowest paid person with benefits: ",lpp)

Lowest paid person with benefits:  A BERNARD FATOOH

C:\Users\Sandeep\AppData\Local\Temp\ipykernel_5996\3760408584.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  z=sl.sort_values('TotalPayBenefits').min()

In [65]:
avg_base_pay_per_year=sl[(sl['Year']>=2011)&(sl['Year']<=2014)].groupby('Year')['BasePay'].mean()
avg_base_pay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [71]:
a=sl.JobTitle.nunique()
print("No. of Unique Job titles: ",a)

No. of Unique Job titles:  2159

In [86]:
Top_5_JobTitles=sl.JobTitle.head(5)
Top_5_JobTitles

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                   CAPTAIN III (POLICE DEPARTMENT)
2                   CAPTAIN III (POLICE DEPARTMENT)
3              WIRE ROPE CABLE MAINTENANCE MECHANIC
4      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
Name: JobTitle, dtype: object